// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.article-nav {
  .btn {
    cursor: pointer;
  }
}

h1 {
  margin-bottom: 0;
}

.alert-errors-form {
  ul {
    margin-bottom: 0;
  }
}

.card {
  &_kidys_theme {
    margin: 0.5rem auto;

    .card-header {
      h3 {
        margin-bottom: 0;
      }
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
